[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MiniDLNA
Comment=Server to stream media over network
Exec=minidlna -f /home/pi/.minidlna/minidlna.conf -P /home/pi/.minidlna/minidlna.pid
StartupNotify=false
Terminal=false
Hidden=false